.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 200px;
    height: 100px;
}

.hero-section {
    display: flex;
    justify-content:center ;
    gap: 40px;
}

.hero-image {
    width: 450px;
    height: 600px;
}

.hero-title {
    font-size: 58px;
}

.hero-description {
    font-size: 18px;
}

.about-section {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.about-text {
    width: 600px;
}

.product-image {
    width: 350px;
    height: 500px; 
}

.product-group {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.product-title {
    text-align: center;
    font-size: 32px;
}

.product-description {
    text-align: center;
}

.advert-section {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.advert-image {
    height: 500px;
    width: 500px;
}

.advert-column-one {
    width: 500px;
}

.advert-title {
    font-size: 32px;
}

.advert-button {
    border: none;
    background-color: plum;
}

.advert-two-section {
    display: flex;
    gap: 40px;
}

.advert-two-image {
    width: 500px;
    height: 500px;
}

.advert-two-title {
    font-size: 32px;
}

.advert-two-description {
    font-size: 16px;
}

.advert-two-button {
    border: none;
    background-color: plum;
}

