.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 200px;
    height: 100px;
}

.hero-section {
    display: flex;
    justify-content:center ;
    gap: 40px;
}

.hero-image {
    width: 450px;
    height: 600px;
}

.hero-title {
    font-size: 58px;
}

.hero-description {
    font-size: 18px;
}

.about-section {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.about-text {
    width: 600px;
}

.product-section {
    
}

.product-image {
    width: 350px;
    height: 500px; 
}

.product-group {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.product-title {
    text-align: center;
    font-size: 32px;
}

.product-description {
    text-align: center;
}